.logo-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.logo-title-logo {
  width: 64px;
  height: 60px;
}

.logo-title-text {
  font-size: 6rem;
  font-weight: 800;
  color: #1976D2;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px #0001;
  text-align: center;
}
